.card {
  max-width: 413px;
}

.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
  object-fit: cover;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  line-height: 1.2;
}

.card__title {
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 20px; /* because if i used just line height the font size would have still been wrong this corrects both */
  align-items: center;
}

.card__like-button {
  shape-image-threshold: 23px 20ox; /*this keeps the button from floating off center*/
  padding: 0;
  background-image: url(../images/likereact.svg); /*kevin*/
  width: 23px; /*kevin*/
  height: 20px; /*kevin*/
  border: none; /*kevin*/
  background-color: transparent; /*kevin*/
  opacity: 40%; /*kevin*/
  transition: opacity 0.5s;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}
