.cards {
  padding: 20px 0 40px; /* top and bottom "page seperation cushion" */
  max-height: 970px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 40px 20px; /*gaps between cards*/
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
}

@media screen and (max-width: 1318px) {
  .cards {
    overflow: scroll; /* had no idea what the proper way was to allow everything so i went with scroll */
  }
}

@media screen and (max-width: 627px) {
  .cards {
    padding: 20px 0 20px;
    max-height: 100vh;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px 20px;
  }
}
