.card {
  max-width: 413px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
  object-fit: cover;
}

.card__content {
  margin: 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__like-button {
  shape-image-threshold: 23px 20ox; /*this keeps the button from floating off center*/
  padding: 0;
  background-image: url(../images/likereact.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 0.5s;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__content {
    margin: 12px 0 0;
  }

  .card__title {
    margin: 0;
    font-size: 16px;
    line-height: 1;
  }

  .card__like-button {
    shape-image-threshold: unset;
    height: 18px;
  }
}
