.content {
  /*rule is to add padding so that nothing touches sides during shrinkage*/
  margin: 0;
  padding: 0 20px;
  background-color: #fcf5e5; /*keep background colors correct during shrinkage*/
}

@media screen and (max-width: 330px) {
  .content {
    padding: 0 10px;
  }
}
