.footer {
  margin: 0;
  background-color: #333;
  color: white;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  color: rgba(33, 33, 33, 0.7);
}
