.header {
  margin: 0;
  padding: 10px 0px;
  width: 100%;
  max-width: 1440px;
  height: 26px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 94px;
  height: 26px;
}
