/*.header {
  width: 1440px;
  height: 46px;
  gap: 0px;
  border-bottom: 1px solid black;
  opacity: 0;
  background-color: #fff;
  color: #fff;
  padding: 10px 80px;
  display: flex;
}

/*.header__logo {
  margin: 0 auto;
  width: 1440px;
  height: 46px;
  gap: 0px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}*/

.header {
  width: 100%;
  max-width: 1440px;
  height: 46px;
  border-bottom: 1px solid black;
  opacity: 0;
  background-color: #4caf50;
  color: white;
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: max-width(1, 280px) px;
  height: Hug (970px) px;
  top: 310px;
  left: 80px;
  padding: 0px 0px 40px 0px;
  gap: 20px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
}

.header__logo {
  width: 1440px;
  height: 46px;
  padding: 10px 80px;
  display: flex;
  justify-content: center;
}

.header__title {
  font-size: 1.5rem;
}
