.page {
  padding: 0;
  margin: auto; /*centers everything on webpage*/
  max-width: 1440px; /*biggest we want the page to stretch*/
  min-height: 100vh; /*kevin*/
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.page__section {
  max-width: 1280px; /*kevin*/
  margin: 0 auto; /*kevin*/
  background-color: #fcf5e5; /*kevin*/
}
