.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  min-width: 420px;
  max-height: 210px;
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  padding: 0;
}

.profile__description {
  margin: 0 0 114px;
  /*to keep button down. if extra parameters are set
  to the button for some reason it makes it clickable in
  places it shouldnt*/
  padding: 0;
  color: rgba(34, 34, 34, 0.7);
}

.profile__edit-button {
  margin: 0;
  padding: 0; /*cannot figure out where the padding is coming from that im seein in browser.. moving on*/
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  overflow: hidden;
  background-color: transparent;
  border-width: 107px; /*not sure why but changing this from width to border width got rid of the ghost padding*/
  border: none;
  color: rgb(34, 34, 34);
  opacity: 70%;
  transition: opacity 0.5s;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__add-button {
  shape-image-threshold: 12px 12px;
  margin-left: auto;
  margin-top: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-width: 149px;
  width: 149px;
  height: 52px;
  border: none;
  border-radius: 8px;
  text-align: center;
  color: #fcf5e5;
  background-color: #212121;
  transition: background-color 0.5s;
  cursor: pointer;
}

.profile__add-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}
