.page {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  background-color: #fcf5e5;
  .container {
    padding: 2rem;
  }

  /*.page {
  background-color: #fff;
  color: white;
  padding: 0px 0px 20px;
  display: flex;
  justify-content: space-between;

    text-align: center;*/
}

main {
  padding: 2em;
}

.content {
  background-color: white;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
}
