.card {
  max-width: 413px;
}

.card__image {
  width: 413px; /* width and height keep image correct size*/
  height: 413px;
  border-radius: 8px;
  object-fit: cover; /* keeps images looking nice */
  cursor: pointer;
}

.card__content {
  margin: 12px 0 0; /* bumper between image and text */
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 353px;
}

.card__delete-button {
  position: absolute; /* having absolute makes sure each card has a button and in the correct spot*/
  margin: 10px 371px 0;
  padding: 0; /* controls size of svg i guess */
  background-image: url(../images/delete-icon.svg);
  background-repeat: no-repeat; /* this and bg size is keeping the icon true to size */
  background-size: contain;
  width: 32px; /*makes sure svg actually shows */
  height: 32px; /*same as width*/
  border: none;
  background-color: transparent;
  opacity: 100%;
  transition: opacity 0.5s;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-icon-hover.svg);
}

.card__like-button {
  padding: 0;
  background-image: url(../images/likereact.svg);
  background-repeat: no-repeat; /* this and bg size is keeping the icon true to size */
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 0.5s;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_liked {
  background-image: url(../images/likEDreact.svg);
  opacity: 100%;
}

.card__like-button_liked:hover {
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 231px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }

  .card__delete-button {
    margin: 10px 246px 0;
  }
}
