.header {
  padding: 10px 0; /*page seperation cushion */
  background-color: #fff;
  display: flex;
  justify-content: center; /* keeps logo center */
  align-items: center; /* keeps logo center */
}

.header__logo {
  width: 94px;
  height: 26px;
}
