.profile {
  display: flex;
  padding: 34px 0 20px; /* page seperation cushion */
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  justify-content: center;
}

/* Container for the avatar and its edit button */
.profile__avatar-container {
  position: relative;
  display: block;
  height: 190px;
  width: 190px;
  cursor: pointer;
}

.profile__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Make it invisible */
  background: rgba(
    0,
    0,
    0,
    0.3
  ); /* Optional: adds slight darkening effect on hover */
}

.profile__avatar-container:hover .profile__avatar-overlay {
  opacity: 1; /* Show overlay on hover */
}

/* Avatar image */
.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
  z-index: 1;
}

/* Avatar edit button */
.profile__avatar-button {
  position: absolute;
  padding: 12px 10px; /* Button padding for a comfortable click area */
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex; /* Allows for gap usage */
  gap: 8px; /* Space between icon and text */
  align-items: center;
  white-space: nowrap; /* Prevents text wrapping */
  font-weight: 500;
  line-height: 1;
  background-color: transparent;
  border: none;
  color: #fff;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.profile__avatar-container:hover .profile__avatar-button {
  opacity: 1; /* This will make the button visible on hover */
}

/* container of Name Description and edit button*/
.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px; /*is creating the gap from description*/
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1;
  color: rgba(34, 34, 34, 0.7);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto; /*by mimicing the add button with the margins i have gotten rid of the ghost padding and dont have to apply widths*/
  padding: 0; /*is keeping button in its corner */
  width: fit-content; /* finally clickable only where its ment to be clicked at*/
  display: flex; /* is allowing gap to be used and keeping it inline with name and description */
  gap: 8px;
  font-weight: 500;
  line-height: 1;
  background-color: transparent;
  border: none;
  color: #212121;
  opacity: 70%;
  transition: opacity 0.5s;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%; /* very subtle change but removes overlay during hover */
}

.profile__add-button {
  margin-left: auto; /* is pushing it from the rest */
  margin-top: auto; /* pushing it down from top */
  padding: 0;
  display: flex; /* is allowing use of gap */
  justify-content: center; /* aligning text horizontally */
  align-items: center; /* aligning text vertically */
  gap: 8px;
  width: 149px;
  height: 52px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  line-height: 1;
  color: #fcf5e5;
  background-color: #212121;
  transition: background-color 0.5s;
  cursor: pointer;
}

.profile__add-button:hover {
  background-color: rgba(
    33,
    33,
    33,
    0.8
  ); /*changes button color during hover.*/
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-button {
    margin: auto; /* keeping button centered/inline */
  }

  .profile__add-button {
    width: 100%; /* stretches button out */
  }
}
