@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/content.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../vendor/fonts/Poppins-Regular.ttf") format("truetype");
}
